body {
    background-color: black;
    overflow:hidden;
}

.wheel {
    position: absolute;
    left: 250px;
    top: 10px;
    width: 200px;
}

.mmca {
    position: absolute;
    left: 25px;
    top: 23px;
    font-size: 116;
    font-weight: 500;
    color: white;
    line-height: 1;
    font-family: "Roboto";
    animation-name: op;
    animation-duration: 6s;
    animation-timing-function: step-end;
}

/*.road{width: 420px;
    animation-name: op;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;}*/
.road {
    width: 420px;
}




.thewheel {
    position: absolute;
    left: 800px;
    top: 605px;
    font-size: 116;
    font-weight: 470;
    color: white;
    line-height: 1.5;
    word-spacing: -19px;
    font-family: "Roboto";
    animation-name: op;
    animation-duration: 6s;
    animation-timing-function: step-end;
}

.a {
    position: absolute;
    left: 30px;
    top: 685px;
    font-size: 16;
    font-weight: medium;
    color: black;
    line-height: 1.55;
    font-family: "Noto Sans KR", sans-serif;
    animation-name: op;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
}

.b {
    position: absolute;
    left: 806px;
    top: 752px;
    font-size: 32;
    font-weight: bold;
    color: white;
    font-family: "Noto Sans KR", sans-serif;
    word-spacing: -3px;
    animation-name: op;
    animation-duration: 6s;
    animation-timing-function: step-end;

}
.c{writing-mode: vertical-rl;
    position:absolute;
    left: 1378px;
    top: 240px;
    font-size : 12;
    color: white;
    font-family: "Roboto", sans-serif;
    animation-name: op;
    animation-duration: 3s;
    animation-timing-function: step-end;
}

.logo {
    position: absolute;
    left: 30px;
    top: 620px;
    width: 40px;

    animation-name: op;
    animation-duration: 4.8s;
    animation-timing-function: step-end;
}
@keyframes op {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.st0 {
    stroke-dasharray: 2000 2000;
    stroke-dashoffset: 1;

    animation-name: draw;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}

.st1 {
    stroke-dasharray: 2000 2000;
    stroke-dashoffset: 0;

    animation-name: draw;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}

.st2 {
    stroke-dasharray: 1000 1000;
    stroke-dashoffset: 0;

    animation-name: draw;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}

.st3 {
    stroke-dasharray: 1000 1000;
    stroke-dashoffset: 0;

    animation-name: draw;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}

.st4 {
    stroke-dasharray: 1000 1000;
    stroke-dashoffset: 0;

    animation-name: draw;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}

.st5 {
    stroke-dasharray: 1000 1000;
    stroke-dashoffset: 0;

    animation-name: draw;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}

.st6 {
    stroke-dasharray: 1000 1000;
    stroke-dashoffset: 0;

    animation-name: draw;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}

.st7 {
    stroke-dasharray: 1000 1000;
    stroke-dashoffset: 0;

    animation-name: draw;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}

.st8 {
    stroke-dasharray: 1000 1000;
    stroke-dashoffset: 0;

    animation-name: draw;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}

.st9 {
    stroke-dasharray: 1000 1000;
    stroke-dashoffset: 0;

    animation-name: draw;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}

.st10 {
    stroke-dasharray: 3000 3000;
    stroke-dashoffset: 0;

    animation-name: draw;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}

.st11 {
    stroke-dasharray: 1000 1000;
    stroke-dashoffset: 0;

    animation-name: draw;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}
.st12 {
    stroke-dasharray: 1000 1000;
    stroke-dashoffset: 0;

    animation-name: draw;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}.st13 {
    stroke-dasharray: 1000 1000;
    stroke-dashoffset: 0;

    animation-name: draw;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}.st14 {
    stroke-dasharray: 1000 1000;
    stroke-dashoffset: 0;

    animation-name: draw;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}.st15 {
    stroke-dasharray: 1000 1000;
    stroke-dashoffset: 0;

    animation-name: draw;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}.st16 {
    stroke-dasharray: 1000 1000;
    stroke-dashoffset: 0;

    animation-name: draw;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}.st17 {
    stroke-dasharray: 1000 1000;
    stroke-dashoffset: 0;

    animation-name: draw;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}.st18 {
    stroke-dasharray: 1000 1000;
    stroke-dashoffset: 0;

    animation-name: draw;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}.st19 {
    stroke-dasharray: 1000 1000;
    stroke-dashoffset: 0;

    animation-name: draw;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}.st20 {
    stroke-dasharray: 1000 1000;
    stroke-dashoffset: 0;

    animation-name: draw;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}.st21 {
    stroke-dasharray: 1000 1000;
    stroke-dashoffset: 0;

    animation-name: draw;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}.st22 {
    stroke-dasharray: 1000 1000;
    stroke-dashoffset: 0;

    animation-name: draw;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}.st23 {
    stroke-dasharray: 1000 1000;
    stroke-dashoffset: 0;

    animation-name: draw;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}

@keyframes draw {
    0% {
        stroke-dashoffset: 3000;
    }
    100% {
        stroke-dashoffset: 0000;
    }
}
